<!DOCTYPE html>
<html>

<head>
    <link href="vendor/normalize-3.0.1.css" media="all" rel="stylesheet" />
    <link href="vendor/select2-3.4.6/select2.css" rel="stylesheet" />
    <link href="vendor/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="vendor/jquery-date-range-picker/daterangepicker.css" rel="stylesheet" />
    <link href="style.css" media="all" rel="stylesheet" />
    <script src="vendor/jquery-2.1.1.min.js"></script>
    <script src="vendor/lodash.core.min.js"></script>
    <script src="vendor/select2-3.4.6/select2.js"></script>
    <script src="vendor/jquery.highlight-3-custom.js"></script>
    <script src="vendor/jquery.cookie-1.4.1.js"></script>
    <script src="vendor/moment-2.8.2.min.js"></script>
    <script src="vendor/jquery-date-range-picker/jquery.daterangepicker.js"></script>
    <script src="shared/enums.js"></script>
    <script src="shared/utils.js"></script>
    <script src="shared/classification-utils.js"></script>
    <script src="shared/i18n.js"></script>
    <script src="js/shared.js"></script>
    <script src="js/program-box.js"></script>
    <script src="js/search.js"></script>
    <script src="/environment"></script>
    <script>
        if (APP_ENVIRONMENT === 'development') { const s = document.createElement('script'); s.src = 'http://localhost:35729/livereload.js'; document.head.appendChild(s) }
    </script>
    <script>
        const language = "<%= lang %>"
        $(function () {
            if (APP_ENVIRONMENT === 'training') $('.training-ribbon').show()
            else if (APP_ENVIRONMENT === 'development') $('.development-ribbon').show()
            shared.registerRevisionMismatchAjaxErrorHandler()
            shared.registerLanguageChangers()
            shared.loadTemplates(function () {
                shared.localize()
                window.publicSearchPage()
                var hash = shared.parseLocationHash()
                if (hash) hash.shift()
                $('#search-page').trigger('show', hash).show()
            })
        })
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title data-i18n>Kuvaohjelmien ikärajahaku</title>
</head>

<body>
    <div class="training-ribbon"><span data-i18n>Koulutusympäristö</span></div>
    <div class="development-ribbon"><span data-i18n>Kehitysympäristö</span></div>
    <div id="header">
        <div class="content">
            <div class="toggleLanguage"></div>
            <div class="logo-area">
                <div class="kavi-logo" onClick="window.open('https://kuvi.fi/' + language);"></div>
                <h1 class="page-title" data-i18n>Kuvaohjelmien ikärajahaku</h1>
                <div class="links-area">
                    <a class="links-anchor" href=<%=disclaimerPageUrl %> target="_blank" data-i18n>Vastuuvapauslauseke</a>
                    <a class="links-anchor" href=<%=searchHelpPageUrl %> target="_blank" data-i18n>Hakuohje</a>
                </div>
            </div>
        </div>
    </div>
    <div id="search-page" class="page"></div>
    </div>
    <div id="templates"></div>
    <div id="overlay"></div>
    <div id="dialog"></div>
</body>

</html>
