[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

button[disabled=disabled], button:disabled { color: gray; }

ol { list-style-type: none; margin: 0; }
.new-movie { margin: 10px; }

#movie-details { display: none; margin: 10px; }
#movie-details > div { margin: 10px; }

#movie-details .categories { float:left; margin-right: 30px; }
#movie-details .categories li { cursor: pointer; background: transparent no-repeat; background-size: 40px; height: 40px; padding: 10px 0 0 45px; }
#movie-details .categories .selected { font-weight: bold; cursor: default; }
#movie-details .categories .violence { background-image: url('images/violence.png'); }
#movie-details .categories .sex { background-image: url('images/sex.png'); }
#movie-details .categories .anxiety { background-image: url('images/anxiety.png'); }
#movie-details .categories .drugs { background-image: url('images/drugs.png'); }

#movie-details .category-criteria { margin-left: 150px; min-height: 700px; }
#movie-details .category-criteria ol { display: none;}
#movie-details .category-criteria ol:first-of-type { display: block; }
#movie-details .category-criteria li { margin-bottom: 10px; }
#movie-details .category-criteria .agelimit { display: inline-block; margin: 0 10px; width: 30px; height: 30px; background: transparent no-repeat; background-size: 30px; vertical-align: middle }
#movie-details .category-criteria .agelimit-18 { background-image: url('images/agelimit-18.png'); }
#movie-details .category-criteria .agelimit-16 { background-image: url('images/agelimit-16.png'); }
#movie-details .category-criteria .agelimit-12 { background-image: url('images/agelimit-12.png'); }
#movie-details .category-criteria .agelimit-7 { background-image: url('images/agelimit-7.png'); }
#movie-details .category-criteria .agelimit-S { background-image: url('images/agelimit-s.png'); }
#movie-details .category-criteria small { margin-left: 65px; display: block; }
#movie-details .category-criteria textarea { float: right; }

.summary { position: fixed; right: 0; top: 20px; border: 1px solid black; width: 300px; min-height: 200px; line-height: 28px; padding: 5px 8px;}
.summary .year { float: right; padding-left: 10px; }
.summary .name { font-weight: bold; display: block; }
.summary > div { margin-left: 10px; }
.summary .agelimit { width: 30px; height: 30px; }
.summary .warnings { display: inline-block; }
.summary .warnings .warning { display: inline-block; cursor: move; background: transparent no-repeat; background-size: 30px; width: 30px; height: 30px; transition: width 0.3s; }
.summary .warnings .warning.dragging { opacity: 0.3; }
.summary .warnings .warning.violence { background-image: url('images/violence.png'); }
.summary .warnings .warning.sex { background-image: url('images/sex.png'); }
.summary .warnings .warning.anxiety { background-image: url('images/anxiety.png'); }
.summary .warnings .warning.drugs { background-image: url('images/drugs.png'); }

.summary .warnings .warning.dragging, .summary .warnings .drop-target.dragging { width: 0; opacity: 0; }
.summary .warnings .drop-target { display: inline-block; width: 10px; height: 30px; transition: width 0.3s; }
/*.summary .warnings .drop-target.valid { background-color: rgba(81, 203, 238, 0.5) }*/
.summary .warnings .drop-target.active { width: 50px; }

#movie-details .invalid { background-color: #f2dede !important; }
.tt-query, .tt-hint { border: 2px solid #ccc; outline: none; }
.tt-hint { color: #999; }
.tt-dropdown-menu { padding: 8px 0; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); }
.tt-suggestion { padding: 3px 20px;  }
.tt-suggestion.tt-cursor { color: #fff; background-color: #0097cf; }
.tt-suggestion p { margin: 0; }
