body {
  background-color: #F8F8F8;
  font-family: Helvetica, Arial;
  color: #444444;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

button[disabled=disabled], button:disabled { color: gray; }

ol { list-style-type: none; margin: 0; }
.new-movie { margin: 10px; }

/* layout */
#header { margin: 10px 0 0 10px; }
.row { border-bottom: 1px solid #C9C9C9; width: 100%; float: left; margin: 0; padding: 70px 0 80px 0; }
.content { width: 940px; margin: 0 auto; padding: 0 10px; }
.content h3 { margin: 0 0 40px 0; padding: 0 0 40px 0; border-bottom: 4px solid #D5D5D5; }
#criteria { clear: both; }
#classification { clear: both; }

.left { float: left; width: 50%; }
.right { float: right; }

#search-results > div { margin: 10px; }
#search-results h3 { padding: 0; margin: 0; }
#search-results span { margin-left: 20px; display: block; }

input[type=text], .select2-container-multi .select2-choices {
  border-radius: 3px;
  background: #FFFFFF;
  border: 1px solid #FF99CC;
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.10);
  width: 280px;
  font-size: 14px;
  color: #666666;
  line-height: 19px;
}

input[type=text], .select2-container-multi .select2-choices .select2-search-field input {
  padding: 8px 10px !important;
}

.select2-container-multi .select2-choices {
  min-height: 0;
  width: 300px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 6px 8px 6px 18px;
  border: 0;
  background-color: #eee;
  color: #666666;
}
.select2-search-choice-close {
  top: 5px;
}

.select2-container-multi .select2-choices .select2-search-field input {
  margin: 0;
  padding: 0;
  line-height: 19px;
}

input, select, .select2-choices  {
  margin: 0 0 15px 0;
  vertical-align: middle;
}

.select2-container {
  margin-bottom: 10px;
}

.select2-container .select2-choice {
  height: 36px;
  line-height: 36px;
}

input[type=text].invalid { background-color: #FFF7FA !important; }

label, input {
  display: inline-block;
  vertical-align: baseline;
}

label {
  width: 140px;
  text-align: right;
  padding: 0 20px 0 0;
  font-weight: bold;
  font-size: 14px;
  color: #444444;
  line-height: 19px;
}

.select2-container { width: 305px; }

.select2-container-multi.invalid .select2-choices,
.select2-container.invalid .select2-choice {
  background-color: #f2dede;
  background-image: none;
}

#movie-details { display: none; }

#movie-details .categories { float:left; margin-right: 30px; }
#movie-details .categories li { cursor: pointer; background: transparent no-repeat; background-size: 40px; height: 40px; padding: 10px 0 0 45px; }
#movie-details .categories .selected { font-weight: bold; cursor: default; }
#movie-details .categories .violence { background-image: url('images/violence.png'); }
#movie-details .categories .sex { background-image: url('images/sex.png'); }
#movie-details .categories .anxiety { background-image: url('images/anxiety.png'); }
#movie-details .categories .drugs { background-image: url('images/drugs.png'); }

#movie-details .category-criteria { margin-left: 150px; min-height: 700px; }
#movie-details .category-criteria ol { display: none;}
#movie-details .category-criteria ol:first-of-type { display: block; }
#movie-details .category-criteria li { margin-bottom: 10px; }
#movie-details .category-criteria .agelimit { display: inline-block; margin: 0 10px; width: 30px; height: 30px; background: transparent no-repeat; background-size: 30px; vertical-align: middle }
#movie-details .category-criteria .agelimit-18 { background-image: url('images/agelimit-18.png'); }
#movie-details .category-criteria .agelimit-16 { background-image: url('images/agelimit-16.png'); }
#movie-details .category-criteria .agelimit-12 { background-image: url('images/agelimit-12.png'); }
#movie-details .category-criteria .agelimit-7 { background-image: url('images/agelimit-7.png'); }
#movie-details .category-criteria .agelimit-S { background-image: url('images/agelimit-s.png'); }
#movie-details .category-criteria small { margin-left: 65px; display: block; }
#movie-details .category-criteria textarea { float: right; }

.summary { position: fixed; right: 0; top: 20px; border: 1px solid black; width: 300px; min-height: 200px; line-height: 28px; padding: 5px 8px; transition: right 0.3s; }
.summary.hidden { right: -280px; }

.summary .year { float: right; padding-left: 10px; }
.summary .name { font-weight: bold; display: block; }
.summary > div { margin-left: 10px; }
.summary .agelimit { width: 30px; height: 30px; }
.summary .warnings { display: inline-block; }
.summary .warnings .warning { display: inline-block; cursor: move; background: transparent no-repeat; background-size: 30px; width: 30px; height: 30px; transition: width 0.3s; }
.summary .warnings .warning.dragging { opacity: 0.3; }
.summary .warnings .warning.violence { background-image: url('images/violence.png'); }
.summary .warnings .warning.sex { background-image: url('images/sex.png'); }
.summary .warnings .warning.anxiety { background-image: url('images/anxiety.png'); }
.summary .warnings .warning.drugs { background-image: url('images/drugs.png'); }

.summary .warnings .warning.dragging, .summary .warnings .drop-target.dragging { width: 0; opacity: 0; }
.summary .warnings .drop-target { display: inline-block; width: 10px; height: 30px; transition: width 0.3s; }
/*.summary .warnings .drop-target.valid { background-color: rgba(81, 203, 238, 0.5) }*/
.summary .warnings .drop-target.active { width: 50px; }

.tt-query, .tt-hint { border: 2px solid #ccc; outline: none; }
.tt-hint { color: #999; }
.tt-dropdown-menu { padding: 8px 0; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); }
.tt-suggestion { padding: 3px 20px;  }
.tt-suggestion.tt-cursor { color: #fff; background-color: #0097cf; }
.tt-suggestion p { margin: 0; }
