<p><img src="<%- hostName %>/images/logo.png" alt="MEKU/KAVI" title="undefined" width="306" height="60" style="padding: 20px 0 15px 20px;"></p>
<p><%- buyerName %></p>
<p><%- buyerEmail %></p>
<p>Dnro <%- drNro %></p>
<p>Pvä <%- date %></p>

<h3>Materiaalin toimituspyyntö</h3>
<p>Kansallisen audiovisuaalisen instituutin (KAVI) mediakasvatus- ja kuvaohjelmayksikkö ottaa kuvaohjelmalain (710/2011) 21 §:n nojalla luokiteltavaksi
kuvaohjelman</p>
<p><strong><%- programNameFi %></strong></p>
<p><%- programNameFi %> (<%- programReleaseYear %>, <%- programReleaseCountry %>, <%- programReleaseYear %>) <%- programDuration %> <%- programType %> <%- programClassification %></p>
<p>KAVI pyytää toimittamaan kyseisen materiaalin <strong>viimeistään <%- dueDate %></strong> osoitteeseen <%- classifierName %> / Kansallinen audiovisuaalinen instituutti / MEKU, Sörnäisten
rantatie 25 A, PL 16, 00500 Helsinki tai sähköpostitse osoitteeseen <a href="mailto:<%- classifierEmail %>"><%- classifierEmail %></a>.</p>
<p>Lisätietoja asiasta antaa erityisasiantuntija <%- classifierName %>, puhelin: {classifierPuhNum}.</p>

<br>
<p>Leo Pekkala</p>
<p>Apulaisjohtaja / tulosaluepäällikkö</p>
<p>Kansallinen audiovisuaalinen instituutti</p>
<p>Mediakasvatus- ja kuvaohjelmayksikkö</p>
