<p>
  Hei,<br>
  uusiaksesi salasanasi seuraa oheista linkkiä <a href="<%- link %>"><%- link %></a>, ja kirjoita mieleisesi
  salasana sille annettuihin kenttiin ja paina "tallenna salasana"-painiketta.
</p><p>
  Jos sinulla on ongelmia salasanan tai käyttäjätunnuksen kanssa, ota yhteyttä Kuvaohjelmien luokittelujärjestelmän
  ylläpitoon: <a href="mailto:meku@kuvi.fi">meku@kuvi.fi</a>
</p>
<p>Terveisin,<br/>Kuvi</p>

<p>
  Hej,<br>
  förnya ditt lösenord genom att klicka på länken <a href="<%- link %>"><%- link %></a> och skriv in önskat lösenord och
  klicka "spara lösenord".
</p><p>
  Om du har problem med lösenordet eller användarnamnet, kontakta underhållet för Systemet för klassificering av
  bildprogram: <a href="mailto:meku@kuvi.fi">meku@kuvi.fi</a>
</p>
<p>Hälsingar,<br/>Kuvi</p>
