<p>
  Hei,<br>
  Sinulle on luotu käyttäjätunnus <span style="font-weight: bold;"><%- username %></span> Kuvaohjelmien luokittelu- ja
  rekisteröintijärjestelmään.
</p>
<p>
  Aktivoi käyttäjätunnus oheisesta linkistä <a href="<%- link %>"><%- link %></a>, ja kirjoita mieleisesi salasana
  sille annettuihin kenttiin.<br>
  Salasanan tallentamisen jälkeen kirjaudut automaattisesti sisään järjestelmään.
</p>
<p>
  Jos unohdat salasanasi, voit uusia sen sisäänkirjautumisikkunan kautta:<br>
  Anna käyttäjätunnus ja paina "unohdin salasanani" -painiketta.
</p>
<p>
  Jos sinulla on ongelmia salasanan tai käyttäjätunnuksen kanssa, ota yhteyttä Kuvaohjelmien luokittelujärjestelmän
  ylläpitoon: <a href="mailto:meku@kavi.fi">meku@kavi.fi</a>
</p>
<p>
  Terveisin,<br>
  KAVI
</p>


<p>
  Hej,<br>
  Du har nu ett användarnamn <span style="font-weight: bold;"><%- username %></span> i Systemet för klassificering och registrering av bildprogram.
</p>
<p>
  Aktivera användarnamnet genom att klicka på länken <a href="<%- link %>"><%- link %></a>, och skriv in önskat lösenord.<br>
  Efter att lösenordet sparats loggas du automatiskt in i systemet.
</p>
<p>
  Om du glömmer ditt lösenord kan du förnya det genom inloggningsfönstret:<br>
  Ge ditt användarnamn och klicka "jag har glömt lösenordet".
</p>
<p>
  Om du har problem med lösenordet eller användarnamnet, kontakta underhållet för Systemet för klassificering av
  bildprogram: <a href="mailto:meku@kavi.fi">meku@kavi.fi</a>
</p>
<p>
  Hälsningar,<br>
  KAVI
</p>
