<p>
  Hei,<br>
  Sinulle on luotu käyttäjätunnus <span style="font-weight: bold;"><%- username %></span> Kuvaohjelmien luokittelu- ja
  rekisteröintijärjestelmään.
</p>
<p>
  Aktivoi käyttäjätunnus oheisesta linkistä <a href="<%- link %>"><%- link %></a>, ja kirjoita mieleisesi salasana
  sille annettuihin kenttiin.<br>
  Salasanan tallentamisen jälkeen kirjaudut automaattisesti sisään järjestelmään.
</p>
<p>
  Jos unohdat salasanasi, voit uusia sen sisäänkirjautumisikkunan kautta:<br>
  Anna käyttäjätunnus ja paina "unohdin salasanani" -painiketta.
</p>
<p>
  Jos sinulla on ongelmia salasanan tai käyttäjätunnuksen kanssa, ota yhteyttä Kuvaohjelmien luokittelujärjestelmän
  ylläpitoon: <a href="mailto:meku@kavi.fi">meku@kavi.fi</a>
</p>
<p>
  Terveisin,<br>
  KAVI
</p>

<p>Samma på svenska</p>
